.attribution {
    text-align: center;
    z-index: 1;
    color: black;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(185, 75%, 39%);
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    flex-direction: column;
}

.left {
    left: 0;
    position: absolute;
    width: 50vw;
    height: 100%;
    z-index: 0;
}

.left img {
    margin-top: -30vh;
    margin-left: -10vw;
    width: 100%;
    height: 100%;
}

.right {
    right: 0;
    position: absolute;
    width: 50vw;
    height: 100%;
    z-index: 0;
}

.right img {
    margin-top: 53vh;
    position: fixed;
    margin-left: 0vw;
    width: 100%;
    height: 100%;
}



#contenedor h1 {
    font-size: 1.2vw;
    font-weight: bold;
    display: inline-block;
}



.london {
    display: block;
}



.v26 {
    margin-left: 1vw;
}

#inferior div span {
    display: block;
}

span {
    color: hsl(227, 10%, 46%);
}

h1 {
    color: hsl(229, 23%, 23%);
}

@media (min-width: 250px) {
    #contenedor {
        width: 70vw;
        background-color: white;
        height: auto;
        z-index: 1;
        border-radius: 5vw;
        text-align: center;
        margin: auto;
    }

    #inferior div {
        width: 30.3%;
        display: inline-block;
    }

    * {
        font-size: 1rem;
    }

    #contenedor h1 {
        font-size: 1rem;
        font-weight: bold;
        display: inline-block;
    }

    #img {
        width: 100%;
        height: 20vh;
        background-image: url(./assets/bg-pattern-card.svg);
        border-top-left-radius: 5vw;
        border-top-right-radius: 5vw;
    }

    #contenedor img {
        margin-top: -5vh;
        width: 6rem;
        border-radius: 6rem;
        border: 1vw solid white;
    }

    #inferior {
        box-shadow: 0vw -2.5vw 1vw -2.9vw hsl(0, 0%, 59%);
        margin: 2rem 0px;
        padding-top: 2rem;
    }
}

@media (min-width: 1024px) {
    #contenedor {
        width: 25vw;
        background-color: white;
        height: auto;
        z-index: 1;
        border-radius: 1vw;
        text-align: center;
        margin: auto;
    }

    #inferior div {
        width: 32.3%;
        display: inline-block;
    }

    * {
        font-size: 1vw;
    }

    #contenedor h1 {
        font-size: 1.2vw;
        font-weight: bold;
        display: inline-block;
    }

    #img {
        width: 100%;
        height: 20vh;
        background-image: url(./assets/bg-pattern-card.svg);
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
    }

    #contenedor img {
        margin-top: -5vh;
        width: 7vw;
        border-radius: 7vw;
        border: 1vw solid white;
    }

    #inferior {
        box-shadow: 0vw -2.5vw 1vw -2.9vw hsl(0, 0%, 59%);
        margin: 2vw 0;
        padding-top: 2vw;
    }
}